
/*For each loop to print all the docs that have been created*/
- @docs.each do |doc|
  %h1= link_to doc.title, doc
  %p= time_ago_in_words (doc.created_at)
  %p= truncate(doc.content, length:50)

  = link_to "Create new", new_doc_path
   